/*
    Cascading Style Sheets (CSS)

        SE 3910 Software Engineering - Fall 2021
        Instructor: Taeghyun Kang

        Team: X-men
            Bryant Michael Belino Bugna
            Noah Erb
            De-Shian Lin
            Austin Loucks
            Kathryn McMeen
        
        Commerce Bank Project
        Hotel Cubicle Reservation System
*/



/********** note **********/

    /* Naming

      <-- name starting without anything is an original html tag
    . <-- name starting with a dot . is a defining class
    # <-- name starting with a hash sign # is an defining id 

        class can be reused many times almost everywhere
        id should only be used once per page
            since id is usually using in html for JS controlling
    */

    /* unit 'em' - 1 em is 1 character length relative to the current font size */

/********** end note **********/



/* import fonts from Google Fonts */
/* font Poppins - weight 400 (Regular) and 700 (Bold) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');



/********** modifying original html tags **********/

    html {
        /* font: Poppins (imported from Google Fonts) */
        /* if font Poppins cannot be found, then use any system sans-serif font */
        font-family: Poppins, sans-serif;
    }

    /* h1 (heading level 1) */
    h1 {
        /* wider margin to bottom */
        margin-bottom: 1.2em;

        /* smaller font size */
        font-size: 24px;
    }

    footer {
        /* margin to top */
        /* for keeping it in the lower bottom */
        /* also some space to the upper content */
        margin-top: 7em;

        /* center the text */
        text-align: center;

        /* text color: white */
        color: #FFF;

        /* smaller font size */
        font-size: 11px;
    }

    /* set the label width to a fixed number */
    /* for better aligning with the input fields inside forms */
    label {
        /* in order for the width to be set successfully
        setting the 'display: inline-block;' first is necessary
        because label is an inline element
        setting the width will not work without making it a block display style first */
        display: inline-block;
        width: 80px;
    }

    /* unifying the styles for the input fields in forms */
    input,
    select {
        /* margin to bottom */
        margin-bottom: 2em;

        /* width */
        width: 220px;

        /* spaces (top, bottom, left, right) to the text inside */
        padding: .5em;

        /* round corners */
        border-radius: 4px;

        /* set the border to none */
        /* originally there are borders for an input field */
        border: none;

        /* set box-sizing to border-box */
        /* for the <input> and <select> to line up */
        /* since the <input> adds its padding to the set width
        but the <select> doesn't */
        /* border-box will set the width solidly as it's set including the padding, etc. */
        box-sizing: border-box;

        /* font: Poppins (imported from Google Fonts) */
        /* if font Poppins cannot be found, then use any system sans-serif font */
        font-family: Poppins, sans-serif;

        transition: .25s;
    }

    /* input fields : hover & focus effect */
    /* :hover is when the mouse hover through */
    /* :focus is when the field being clicked on */
    input:hover,
    input:focus,
    select:hover,
    select:focus {
        /* shadow */
        box-shadow: 4px 4px 8px rgba(0, 0, 0, .5);
        /* offset-x  offset-y  blur-radius  color-rgba(red, green, blue, alpha) */

        /* set the outline to none */
        /* there is a system default outline for an input field */
        outline: none;
    }

    button {
        /* margin to bottom */
        margin-bottom: 2em;

        /* round corners */
        border-radius: 4px;

        /* set the cursor to pointer */
        /* so when the mouse is on it, the cursor shows a hand icon */
        cursor: pointer;

        /* buttons' widths can automatically grow to fit inside a flex container with this line */
        /* the number 1 means to take the space of 1/total number of items
        for the scenario using here for this project
        the number doesn't really matter (it can be 2, 3, 4, 5... but it cannot be 0) */
        flex-grow: 1;

        /* font: Poppins (imported from Google Fonts) */
        /* if font Poppins cannot be found, then use any system sans-serif font */
        font-family: Poppins, sans-serif;

        transition: .25s;
    }

/********** end modifying original html tags **********/



/********** background images **********/

    /* set beckground images to pages */
    /* make them
    no-repeat on x and y
    fixed, so they won't move with scrolling
    center view from the image */
    #login-page { background: url("images/bg-login.png") no-repeat fixed center; }
    #user-main-page { background: url("images/bg-user-main.png") no-repeat fixed center; }
    #user-create-page { background: url("images/bg-user-create.png") no-repeat fixed center; }
    #user-view-page { background: url("images/bg-user-view.jpg") no-repeat fixed center; }
    #user-cancel-page { background: url("images/bg-user-cancel.jpg") no-repeat fixed center; }

    /* process for all pages' beckground images */
    #login-page,
    #user-main-page,
    #user-create-page,
    #user-view-page,
    #user-cancel-page {
        /* scales the beckground images as large as possible to fill the viewport */
        background-size: cover;

        /* a layer of gray background */
        background-color: #BEBEBE;

        /* blend the gray layer with the beckground images by overlay */
        /* note: for properly working
        this part has to be after the background images and
        the gray layer have been set */
        background-blend-mode: overlay;
        /* This is the improvement from the feedback of our first prototype:
            // For the picture, I would just make it slightly transparent – 
            just lower the opacity a small amount because you want the attention to stayon
            the form and not get distracted by the background. //
        */
    }

/********** end background images **********/



/********** content frames **********/

    /* outermost frame */
    .main-frame {
        /* center the content horizontally */
        /* auto to divide the margins (top, bottom, left, right) equally */
        margin: auto;

        /* center the content vertically from the top 80% of the viewport */
        display: flex; /* make it as a flexible container */
        align-items: center; /* vertically center the items ('display: flex;' is required for this attribute to work) */
        min-height: 80vh; /* minimum height: 80% of the viewport's height */
        
        /* limiting the width */
        /* 375px may fit for the most phone screen resolution */
        max-width: 375px;
    }

    /* content frame */
    .content-frame {
        /* width 100% to fill the gaps (therefore no left/right margins to the outer frame) */
        width: 100%;
    }

    /* green frame */
    .green-frame {
        /* margin to bottom */
        margin-bottom: .8em;

        /* spaces (top, bottom, left, right) to the content inside */
        padding: 24px;

        /* center the content */
        text-align: center;

        /* round corners */
        border-radius: 8px;

        /* background color: Commerce Bank dark green */
        background-color: #016747;

        /* text color: white */
        color: #FFF;

        /* shadow */
        box-shadow: 4px 4px 8px rgba(0, 0, 0, .5);
        /* offset-x  offset-y  blur-radius  color-rgba(red, green, blue, alpha) */
    }

    .green-frame > form {
        /* set display to inline-block */
        /* so the form can line up in the center horizontally
        specifically (kind of inherit) from the class green-frame, which has 'text-align: cneter;' */
        display: inline-block;

        /* content inside (label, input, etc.) still aligns to left */
        text-align: left;
    }

    .white-frame {
        /* margin to bottom */
        margin-bottom: .5em;
        
        /* space to the content inside */
        padding: 16px 24px;
        /* top/bottom  left/right */

        /* round corners */
        border-radius: 8px;

        /* background color: white */
        background-color: #FFF;

        /* border */
        border: 2.4px solid #016747;
        /* border-width  border-style  border-color */

        /* shadow */
        box-shadow: 4px 4px 8px rgba(0, 0, 0, .5);
        /* offset-x  offset-y  blur-radius  color-rgba(red, green, blue, alpha) */
    }

/********** end content frames **********/



/********** buttons **********/

    /* button inside the green frame */
    .button-in-green-frame {
        /* space to the content inside */
        padding: .6em 1em;
        /* top/bottom  left/right */

        /* background color: Commerce Bank light green */
        background-color: #4EA800;

        /* text color: white */
        color: #FFF;

        /* set the border to none */
        /* originally there are borders for a button */
        border: none;
    }

    /* button inside the green frame : hover & active effect */
    /* :hover is when the mouse hover through */
    /* :active is when the button being clicked down */
    /* :focus is when the button being focused (ex. using the tab↹ key to switch focus to it) */
    .button-in-green-frame:hover,
    .button-in-green-frame:active,
    .button-in-green-frame:focus {
        /* shadow */
        box-shadow: 4px 4px 8px rgba(0, 0, 0, .4);
        /* offset-x  offset-y  blur-radius  color-rgba(red, green, blue, alpha) */
        
        /* text glow effect */
        text-shadow: 0 0 2px #FFF;
        /* h-shadow(horizontal shadow)  v-shadow(vertical shadow)  blur-radius  color */

        /* set the outline to none */
        /* there is a system default outline for an input field */
        outline: none;
    }

    .white-button {
        /* margin to top */
        margin-top: .4em;
        
        /* space to the content inside */
        padding: .5em 1.5em;
        /* top/bottom  left/right */

        /* background color: white */
        background-color: #FFF;

        /* text color: Commerce Bank light green */
        color: #4EA800;

        /* font weight: 700 (Bold) */
        font-weight: 700;

        /* border */
        border: 2.4px solid #4EA800;
        /* border-width  border-style  border-color */
    }

    .green-button {
        /* margin to top */
        margin-top: .4em;

        /* space to the content inside */
        padding: .8em 1.5em;
        /* top/bottom  left/right */

        /* background color: Commerce Bank light green */
        background-color: #4EA800;

        /* text color: white */
        color: #FFF;

        /* set the border to none */
        /* originally there are borders for a button */
        border: none;
    }

    /* white & green buttons : hover & active effect */
    /* :hover is when the mouse hover through */
    /* :active is when the button being clicked down */
    /* :focus is when the button being focused (ex. using the tab↹ key to switch focus to it) */
    .white-button:hover,
    .white-button:active,
    .white-button:focus,
    .green-button:hover,
    .green-button:active,
    .green-button:focus {
        /* background color: Commerce Bank dark green */
        background-color: #016747;

        /* border color*/
        border-color: #016747;
        /* border-width  border-style  border-color */
        
        /* text color: white */
        color: #FFF;

        /* text glow effect */
        text-shadow: 0 0 1.5px #FFF;
        /* h-shadow(horizontal shadow)  v-shadow(vertical shadow)  blur-radius  color */

        /* set the outline to none */
        /* there is a system default outline for an input field */
        outline: none;
    }

/********** end buttons **********/



/********** special **********/
/* (for unique functions or rarely use styles) */

    /* this is for the flex-grow to work */
    .flex-wrap {
        /* make it as a flexible container */
        display: flex;

        /* gap between the flex-grow items */
        gap: 1em;
    }

    /* indicate to the buttons in the user main page */
    #user-main-page .button-in-green-frame {
        /* set the buttons there to 100% width */
        /* otherwise the buttons aren't the same length */
        width: 232px;
    }

    #user-view-page .green-frame,
    #user-cancel-page .green-frame {
        padding: 12px;
    }

    /* style for "Please fill all fields!" in user create page */
    #please-fill-all {
        /* negative margin to top brings it closer to the upper item */
        margin-top: -1.8em;
        
        /* center the text */
        text-align: center;
        
        /* smaller font size */
        font-size: 13px;

        /* font weight: 700 (Bold) */
        font-weight: 700;

        /* text color: yellow */
        color: #fefe7f;
    }

    /* for the user name and id dispalying under the "Your Reservations"
    in the user view and cancel pages */
    .userNameID {
        /* negative margin to top brings it closer to the upper item */
        margin-top: -1.8em;
    }

    .green-text {
        color: #016747;
    }

    .date-block {
        width: 88px;
        display: inline-block;
    }

    .small-bold{
        font-size: 13px;
        font-weight: 700;
    }

/********** end special **********/
