<!DOCTYPE html>
<!--
    Login Page

        SE 3910 Software Engineering - Fall 2021
        Instructor: Taeghyun Kang

        Team: X-men
            Bryant Michael Belino Bugna
            Noah Erb
            De-Shian Lin
            Austin Loucks
            Kathryn McMeen
        
        Commerce Bank Project
        Hotel Cubicle Reservation System
-->

<!-- html (HyperText Markup Language) -->
<!---- web language: English ---->
<!---- id for the background-image control in CSS ---->
<!---- xmlns (XML namespaces) :th to declare a thymeleaf namespace ---->
<html lang="en" id="login-page" xmlns:th="http://www.thymeleaf.org">

<!-- head - meta, title, and the linking CSS and JS goes here -->
<head>

    <!-- set the character encoding to UTF-8 -->
    <meta charset="UTF-8">

    <!-- web title -->
    <title>Login | Hotel Cubicle Reservation System</title>

    <!-- link the CSS file -->
    <!---- rel (relationship): stylesheet ---->
    <!---- th (thymeleaf) :href (hypertext reference): file location/name ---->
    <link rel="stylesheet" th:href="@{../css/style.css}">

</head> <!-- end head -->

<!-- body - almost all the page content goes here -->
<body>

    <!-- div (division) - css class: main-frame -->
    <!-- the outermost frame for
    centering the content and limiting the width -->
    <div class="main-frame">

        <!-- div (division) - css class: content-frame -->
        <!-- wrapping up the content (frames and buttons) 
        for keeping them in the vertical center
        also set the 100% width -->
        <div class="content-frame">

            <!-- div (division) - css class: green-frame -->
            <!-- the green and round corner frame -->
            <div class="green-frame">

                <!-- title in h1 (heading level 1) style -->
                <h1>Hotel Cubicle Reservation</h1>

                <!-- form for the user to input-->
                <!---- action: send to the user-main after submit ---->
                <form method = "post">

                    <!-- lable - for user ID input -->
                    <!-- when the label is clicked, it will focus to the input field-->
                    <label for="userID">User ID</label>
                    
                    <br> <!-- br (break) - next line -->
                    
                    <!-- user ID input field -->
                    <!---- type defining input type ---->
                    <!---- id for JS control ---->
                    <!---- name for sending data ---->
                    <input type="text" id="userID" name="userID">
                    
                    <br> <!-- br (break) - next line -->

                    <!-- lable - for password input -->
                    <!-- when the label is clicked, it will focus to the input field-->
                    <label for="password">Password</label>
                    
                    <br> <!-- br (break) - next line -->
                    
                    <!-- password input field -->
                    <!---- type defining input type ---->
                    <!---- id for JS control ---->
                    <!---- name for sending data ---->
                    <input type="password" id="password" name="password">

                    <!-- next line twice for a bigger space in between -->
                    <br> <!-- br (break) - next line -->
                    <br> <!-- br (break) - next line -->

                    <!-- p (paragraph) -->
                    <!---- id for JS to send in error message ex. wrong password ---->
                    <!---- css class: error-message-in-green-frame ---->
                    <p id="error-message" class="error-message-in-green-frame">
                        <!-- space for holding an empty space -->
                        <!---- & is the escape character of html ---->
                        <!---- &nbsp; is space (Non-Breaking Space) ---->
                        &nbsp;
                    </p> <!-- end p -->
                    
                    <!-- div (division) - css class: flex-wrap -->
                    <!-- for buttons to auto take the full width and/or divide the space -->
                    <div class="flex-wrap">
                    
                        <!-- sign-in button -->
                        <!---- type defining button type ---->
                        <!---- css class: button-in-green-frame ---->
                        <button type ="submit" name = "signin" class="button-in-green-frame">Sign-in</button>

                        <!-- Admin Sign-in button 
                        <button type ="submit" class="button-in-green-frame">Admin Sign-in</button>
                        -->
                        
                    </div> <!-- end flex-wrap -->

                </form> <!-- end form -->

            </div> <!-- end green-frame -->
            
        </div> <!-- end content-frame -->

    </div> <!-- end main-frame -->

    <!-- footer - typically contains the additional info or links -->
    <footer>

        <!-- p (paragraph) -->
        <p>

            <!-- b (bold) -->
            <b>X-men</b> | <b>Commerce Bank Project</b>
            
            <br> <!-- br (break) - next line -->

            SE 3910 Software Engineering - Fall 2021

        </p> <!-- end p -->

    </footer> <!-- end footer -->

</body> <!-- end body -->

</html> <!-- end html -->
