<!DOCTYPE html>
<!--
    User Cancel Page

        SE 3910 Software Engineering - Fall 2021
        Instructor: Taeghyun Kang

        Team: X-men
            Bryant Michael Belino Bugna
            Noah Erb
            De-Shian Lin
            Austin Loucks
            Kathryn McMeen
        
        Commerce Bank Project
        Hotel Cubicle Reservation System
-->

<!-- html (HyperText Markup Language) -->
<!---- web language: English ---->
<!---- id for the background-image control in CSS ---->
<!---- xmlns (XML namespaces) :th to declare a thymeleaf namespace ---->
<html lang="en" id="user-cancel-page" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<!-- head - meta, title, and the linking CSS and JS goes here -->
<head>

    <!-- set the character encoding to UTF-8 -->
    <meta charset="UTF-8">

    <!-- web title -->
    <title>Cancel | Hotel Cubicle Reservation System</title>

    <!-- link the CSS file -->
    <!---- rel (relationship): stylesheet ---->
    <!---- th (thymeleaf) :href (hypertext reference): file location/name ---->
    <link rel="stylesheet" th:href="@{../css/style.css}">

</head> <!-- end head -->

<!-- body - almost all the page content goes here -->
<body>

    <!-- div (division) - css class: main-frame -->
    <!-- the outermost frame for
    centering the content and limiting the width -->
    <div class="main-frame">

        <!-- div (division) - css class: content-frame -->
        <!-- wrapping up the content (frames and buttons) 
        for keeping them in the vertical center
        also set the 100% width -->
        <div class="content-frame">

            <!-- div (division) - css class: green-frame -->
            <!-- the green and round corner frame -->
            <div class="green-frame">

                <!-- title in h1 (heading level 1) style -->
                <h1>Your Reservations</h1>
                
                <!-- p (paragraph) - css class: userNameID --
                <p class="userNameID">

                    <!-- span - generic inline container for phrasing content --
                    <!---- id for JS to send in variable name and ID ----
                    <span id="name">Lason</span>
                    · 
                    <span id="ID">41645645</span>

                </p> <!-- end userNameID -->
            
            </div> <!-- end green-frame -->


            <!-- div (division) - css class: white-frame -->
            <!-- the white and round corner frame with the green border -->
            <div th:each="reservations : ${reservations}" class="white-frame">

                <!-- title -->
                <!-- b (bold) -->
                <b>
                    <!-- span - generic inline container for phrasing content -->
                    <!---- css class: green-text ---->
                    <span class="green-text">
                        Cubicle #
                    </span>
                    <!-- span - generic inline container for phrasing content -->
                    <!---- css class: green-text ---->
                    <span th:text="${reservations.getReservationCubicleID}" class="green-text"></span>
                </b>

                <br> <!-- br (break) - next line -->

                <!-- div (division) - css class: date-block -->
                <!-- for lining up the start date -->
                <div class="date-block">
                    <!-- span - generic inline container for phrasing content -->
                    <!---- css class: small-bold ---->
                    <span class="small-bold">Start date</span>
                    <br> <!-- br (break) - next line -->
                    <!-- span - generic inline container for phrasing content -->
                    <!-- send in variable start date -->
                    <span th:text="${reservations.getReservationSDate}"></span>
                </div>

                <!-- div (division) - css class: date-block -->
                <!-- for lining up the end date -->
                <div class="date-block">
                    <!-- span - generic inline container for phrasing content -->
                    <!---- css class: small-bold ---->
                    <span class="small-bold">End date</span>
                    <br> <!-- br (break) - next line -->
                    <!-- span - generic inline container for phrasing content -->
                    <!-- send in variable end date -->
                    <span th:text="${reservations.getReservationEDate}"></span>
                </div>

                <div class="cancel-block">
                    <form method="post">
                        <input id = "deleteInput" name = "deleteInput" th:value="${reservations.getReservationID}" />
                        <br>
                        <button name = "delete" type="submit" class="cancel-button"><b>🗑</b> CANCEL</button>
                    </form>

                </div>

            </div> <!-- end white-frame -->

            <!-- form -->
            <!-- for the buttons inside to act 'formaction' linking to the other pages -->
            <form>
                
                <!-- div (division) - css class: flex-wrap -->
                <!-- for buttons to auto take the full width and/or divide the space -->
                <div class="flex-wrap">

                    <!-- view reservations button -->
                    <!---- type defining button type ---->
                    <!---- css class: white-button ---->
                    <!---- formaction links to user-view page ---->
                    <button type ="submit" class="white-button" formaction="/main/view">
                        VIEW RESERVATIONS
                    </button>

                    <!-- main menu button -->
                    <!---- type defining button type ---->
                    <!---- css class: green-button ---->
                    <!---- formaction links to user-main page ---->
                    <button type ="submit" class="green-button" formaction="/main">
                        MAIN MENU
                    </button>
                    
                </div> <!-- end flex-wrap -->

            </form> <!-- end form-->

            </div> <!-- end green-frame -->

        </div> <!-- end content-frame -->

    </div> <!-- end main-frame -->

    <!-- footer - typically contains the additional info or links -->
    <footer>

        <!-- p (paragraph) -->
        <p>

            <!-- b (bold) -->
            <b>X-men</b> | <b>Commerce Bank Project</b>
            
            <br> <!-- br (break) - next line -->

            SE 3910 Software Engineering - Fall 2021

        </p> <!-- end p -->

    </footer> <!-- end footer -->

</body> <!-- end body -->

</html> <!-- end html -->
